[submodule "imgui_desktop"]
	path = submodules/imgui_desktop
	url = https://github.com/PazerOP/imgui_desktop.git
[submodule "implot"]
	path = submodules/implot
	url = https://github.com/PazerOP/implot.git
[submodule "submodules/ValveFileVDF"]
	path = submodules/ValveFileVDF
	url=https://github.com/PazerOP/ValveFileVDF.git
[submodule "submodules/SourceRCON"]
	path = submodules/SourceRCON
	url = https://github.com/PazerOP/SourceRCON.git
