[submodule "implot"]
	path = submodules/implot
	url = https://github.com/PazerOP/implot.git
[submodule "submodules/ValveFileVDF"]
	path = submodules/ValveFileVDF
	url=https://github.com/PazerOP/ValveFileVDF.git
[submodule "submodules/vcpkg"]
	path = submodules/vcpkg
	url = https://github.com/microsoft/vcpkg.git
