#include <winver.h>
#include <ntdef.h>

IDI_ICON1 ICON Art/TF2BotDetector.ico

VS_VERSION_INFO VERSIONINFO
FILEVERSION ${CMAKE_PROJECT_VERSION_MAJOR},${CMAKE_PROJECT_VERSION_MINOR},${CMAKE_PROJECT_VERSION_PATCH},${CMAKE_PROJECT_VERSION_TWEAK}
PRODUCTVERSION ${CMAKE_PROJECT_VERSION_MAJOR},${CMAKE_PROJECT_VERSION_MINOR},${CMAKE_PROJECT_VERSION_PATCH},${CMAKE_PROJECT_VERSION_TWEAK}
FILEFLAGS ${TF2BD_RESOURCE_FILEFLAGS}
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
	BEGIN
		VALUE "FileDescription",  "TF2 Bot Detector"
		VALUE "Comments",         "Automatically detects and votekicks cheaters/bots in TF2 casual."
		VALUE "FileVersion",      "${CMAKE_PROJECT_VERSION}"
		VALUE "ProductName",      "TF2 Bot Detector"
		VALUE "ProductVersion",	  "${CMAKE_PROJECT_VERSION}"
        END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409,1200
	END
END
