name: build

on:
  push:
    paths-ignore:
      - 'schemas/**.json'
      - 'staging/cfg/**.json'
      - '*.md'

env:
  VCPKG_COMMIT_ID: 7c82b03faf93e607c722e518819a54e4359aeddc
  VCPKG_PACKAGES: SDL2 openSSL glbinding cpp-httplib libzippp fmt discord-game-sdk

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-20.04]
        platform_mode: [x86, x64]
        discord_integration: [true, false]
        exclude:
          - os: ubuntu-20.04
            platform_mode: x86
        include:
          - os: windows-latest
            platform_mode: x86
            build_arch: Win32
            triplet: x86-windows
          - os: windows-latest
            platform_mode: x64
            build_arch: x64
            triplet: x64-windows
          - os: ubuntu-20.04
            triplet: x64-linux

    steps:
    - uses: olegtarasov/get-tag@v2 # GIT_TAG_NAME
    - uses: benjlevesque/short-sha@v1.1
      id: short_sha

    - name: Config artifact name (tag)
      if: startsWith(github.ref, 'refs/tags/')
      run: echo "::set-env name=TF2BD_VERSION::${{ env.GIT_TAG_NAME }}"

    - name: Config artifact name (SHA)
      if: ${{ !startsWith(github.ref, 'refs/tags/') }}
      run: echo "::set-env name=TF2BD_VERSION::${{ steps.short_sha.outputs.sha }}"

    - name: Enable artifact upload
      if: matrix.discord_integration == true
      run: echo "::set-env name=TF2BD_ENABLE_ARTIFACT_UPLOAD::1"

    - name: Config cross-platform paths
      id: tf2bd_paths
      shell: bash
      run: |
        tf2bd_workspace=`realpath "${{ github.workspace }}"`
        echo "::set-output name=workspace::$tf2bd_workspace"
        echo "::set-output name=build_dir::$tf2bd_workspace/tf2bd_cmake_build_dir/"

    - name: Debug
      run: |
        echo "github.event_name = ${{ github.event_name }}"
        echo "github.sha = ${{ github.sha }}"
        echo "github.ref = ${{ github.ref }}"
        echo "matrix.os = ${{ matrix.os }}"
        echo "matrix.discord_integration = ${{ matrix.discord_integration }}"
        echo "matrix.platform_mode = ${{ matrix.platform_mode }}"
        echo "matrix.build_arch = ${{ matrix.build_arch }}"
        echo "env.TF2BD_ENABLE_ARTIFACT_UPLOAD = ${{ env.TF2BD_ENABLE_ARTIFACT_UPLOAD }}"
        echo "steps.tf2bd_paths.outputs.workspace = ${{ steps.tf2bd_paths.outputs.workspace }}"
        echo "steps.tf2bd_paths.outputs.build_dir = ${{ steps.tf2bd_paths.outputs.build_dir }}"

    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - uses: lukka/run-vcpkg@v3.2
      with:
        vcpkgGitCommitId: 7c82b03faf93e607c722e518819a54e4359aeddc
        vcpkgArguments: 'SDL2 openSSL glbinding cpp-httplib libzippp fmt discord-game-sdk'
        vcpkgTriplet: ${{ matrix.triplet }}

    - name: Config CMake (Windows)
      if: ${{ startsWith(matrix.os, 'windows') }}
      run: |
        echo "::set-env name=TF2BD_CMAKE_CONFIG_ARGS::-A${{ matrix.build_arch }}"
        echo "::set-env name=TF2BD_CMAKE_BUILD_ARGS::--config Release"

    - name: Config CMake (linux)
      if: ${{ startsWith(matrix.os, 'ubuntu') }}
      run: |
        sudo apt install g++-10
        echo "::set-env name=CC::gcc-10"
        echo "::set-env name=CXX::g++-10"

    - name: CMake
      shell: bash
      run: |
        mkdir "${{ steps.tf2bd_paths.outputs.build_dir }}"
        cd "${{ steps.tf2bd_paths.outputs.build_dir }}"
        cmake ${{ env.TF2BD_CMAKE_CONFIG_ARGS }} -DTF2BD_IS_CI_COMPILE=ON -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE="${{ env.RUNVCPKG_VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake" -DCMAKE_RUNTIME_OUTPUT_DIRECTORY_RELEASE="${{ steps.tf2bd_paths.outputs.build_dir }}" -DTF2BD_ENABLE_DISCORD_INTEGRATION=${{ matrix.discord_integration }} ../
        cmake --build . ${{ env.TF2BD_CMAKE_BUILD_ARGS }}

    - name: Sign artifacts
      if: ${{ startsWith(matrix.os, 'windows') }}
      uses: PazerOP/code-sign-action@v3
      with:
        folder: '${{ steps.tf2bd_paths.outputs.build_dir }}'
        certificate: '${{ secrets.CERTIFICATE_PFX_BASE64 }}'
        password: '${{ secrets.CERTIFICATE_PFX_PASSWORD }}'

    - name: "Artifacts: Fresh, signed exe"
      if: env.TF2BD_ENABLE_ARTIFACT_UPLOAD && startsWith(matrix.os, 'windows')
      uses: actions/upload-artifact@v2
      with:
        name: "smartscreen_${{ matrix.triplet }}"
        path: "${{ steps.tf2bd_paths.outputs.build_dir }}/*.exe"

    - name: "Artifacts: Prepare staging/"
      if: startsWith(matrix.os, 'windows')
      shell: bash
      run: |
        cp -v ${{ steps.tf2bd_paths.outputs.build_dir }}/*.exe ${{ steps.tf2bd_paths.outputs.build_dir }}/*.dll ${{ steps.tf2bd_paths.outputs.workspace }}/staging/

    - name: Smartscreen workaround
      if: ${{ startsWith(matrix.os, 'windows') }}
      shell: bash
      run: |
        echo "Hash of current exe: "
        sha1sum "${{ steps.tf2bd_paths.outputs.workspace }}/staging/tf2_bot_detector.exe"
        cp -v "${{ steps.tf2bd_paths.outputs.workspace }}/smartscreen/${{ matrix.platform_mode }}/tf2_bot_detector.exe" "${{ steps.tf2bd_paths.outputs.workspace }}/staging/tf2_bot_detector.exe"
        echo "Hash of cached exe: "
        sha1sum "${{ steps.tf2bd_paths.outputs.workspace }}/staging/tf2_bot_detector.exe"

    - name: "Artifacts: Upload staging/"
      if: env.TF2BD_ENABLE_ARTIFACT_UPLOAD && startsWith(matrix.os, 'windows')
      uses: actions/upload-artifact@v2
      with:
        name: "tf2_bot_detector_${{ matrix.triplet }}_${{ env.TF2BD_VERSION }}"
        if-no-files-found: error
        path: ${{ steps.tf2bd_paths.outputs.workspace }}/staging/

    - name: "Artifacts: symbols"
      if: env.TF2BD_ENABLE_ARTIFACT_UPLOAD && startsWith(matrix.os, 'windows')
      uses: actions/upload-artifact@v2
      with:
        name: "symbols_${{ matrix.triplet }}_${{ env.TF2BD_VERSION }}"
        path: "${{ steps.tf2bd_paths.outputs.build_dir }}/*.pdb"
