name: build

on:
  push:
    paths-ignore:
      - 'schemas/**.json'
      - 'staging/cfg/**.json'
      - '*.md'

jobs:
  ci:
    env:
      TF2BD_BUILD_DIR: "${{ github.workspace }}/tf2bd_cmake_build_dir/"

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        triplet: [x86-windows, x64-windows]
        include:
          - os: windows-latest
            triplet: x86-windows
            tf2bd_arch: x86
          - os: windows-latest
            triplet: x64-windows
            tf2bd_arch: x64

    steps:
    - name: Debug
      run: |
        echo github.event_name = ${{ github.event_name }}
        echo github.sha = ${{ github.sha }}
        echo github.ref = ${{ github.ref }}

    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: run-vcpkg
      uses: lukka/run-vcpkg@v3.0
      with:
        vcpkgGitCommitId: 7192d3affa4b1d8f88e3e730eb561612c24f7d78
        vcpkgArguments: 'SDL2 openSSL glbinding cpp-httplib libzippp cppcoro'
        vcpkgTriplet: ${{ matrix.triplet }}
        appendedCacheKey: "42-pazer-${{ matrix.triplet }}"

    - name: run-cmake
      uses: lukka/run-cmake@v2.5
      with:
        useVcpkgToolchainFile: true
        cmakeAppendedArgs: '-G "Visual Studio 16 2019" -A${{ matrix.tf2bd_arch }}'
        cmakeBuildType: "Release"
        buildDirectory: "${{ env.TF2BD_BUILD_DIR }}"

    - name: "Artifacts: *.exe"
      uses: actions/upload-artifact@v2
      with:
        name: "tf2_bot_detector_${{ matrix.triplet }}_${{ github.sha }}"
        path: "${{ env.TF2BD_BUILD_DIR }}/*.exe"
    - name: "Artifacts: *.dll"
      uses: actions/upload-artifact@v2
      with:
        name: "tf2_bot_detector_${{ matrix.triplet }}_${{ github.sha }}"
        path: "${{ env.TF2BD_BUILD_DIR }}/*.dll"

    - name: "Artifacts: *.pdb"
      if: ${{ matrix.triplet == 'x86-windows' || matrix.triplet == 'x64-windows' }}
      uses: actions/upload-artifact@v2
      with:
        name: "symbols_${{ matrix.triplet }}_${{ github.sha }}"
        path: "${{ env.TF2BD_BUILD_DIR }}/*.pdb"

    - name: "Artifacts: staging dir"
      uses: actions/upload-artifact@v2
      with:
        name: "tf2_bot_detector_${{ matrix.triplet }}_${{ github.sha }}"
        path: "${{ github.workspace }}/staging"
